body {
  text-align: center;
  background-color: #899177;
}

h2 {
  margin: 0px;
}

h3 {
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Dancing Script', cursive;
  margin: 0px;
  font-size: 30px;
}

.hard-skills {
  width: 250px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px;
}

/* hard-skills beyaz kutucuklar */
.kutucuk {
  height: 350px;
  width: 350px;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  padding: 25px;
  border: 2px black solid;
}

/* soft-skills beyaz kutucuklar */
.kutucuk2 {
  height: 80px;
  width: 300px;
  background-color: #d6bdef;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk3 {
  height: 80px;
  width: 300px;
  background-color: #ff8086;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk4 {
  height: 80px;
  width: 300px;
  background-color: #ffc269;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk5 {
  height: 80px;
  width: 300px;
  background-color: #ffe07d;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk6 {
  height: 80px;
  width: 300px;
  background-color: #ccf49f;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk7 {
  height: 80px;
  width: 300px;
  background-color: #aedb81;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk8 {
  height: 80px;
  width: 300px;
  background-color: #c3ddff;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk9 {
  height: 80px;
  width: 300px;
  background-color: #8bb3ea;
  margin: 30px;
  border-radius: 50%;
  border: 2px black solid;
}

.kutucuk20 {
  height: 230px;
  width: 230px;
  margin: 30px;
  border-radius: 100%;
  padding: 0px;
  border: 2px black solid;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.ortaresim {
  opacity: 100%;
  width: 600px;
  height: auto;
  border-radius: 100%;
  padding: 0px;
}

/* arkaplan resimleri ayarlamak için */
.yazılar1 {
  width: 300px;
  height: 300px;
  background-image: url("/img/c++.png");
  background-position: center;
  opacity: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar2 {
  width: 300px;
  height: 300px;
  background-image: url("/img/sql.png");
  background-position: center;
  opacity: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar3 {
  width: 300px;
  height: 300px;
  background-image: url("/img/html.png");
  background-position: center;
  opacity: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar4 {
  width: 300px;
  height: 300px;
  background-image: url("/img/css.png");
  background-position: center;
  opacity: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar5 {
  width: 300px;
  height: 300px;
  background-image: url("/img/java-script.png");
  background-position: center;
  opacity: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
}

/* link gönderme butonları */
.linka {
  position: relative;
  padding: 5px;
  text-decoration: none;
  background-color: black;
  background-size: 1000px 1000px;
  color: white;
  border-radius: 10px;
}

.linka:hover {
  color: #B6C3DE;
}

.btnsearch {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
  background: #899177;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btnsearch:hover {
  background-image: -webkit-linear-gradient(left, #899177, #89918C);
  background-image: -moz-linear-gradient(right, #899177, #89918C);
  background-image: -o-linear-gradient(right, #899177, #89918C);
  background-image: linear-gradient(to right, #899177, #89918C);
  text-decoration: none;
  border-color: black;
  color: black;
}
