body {
  text-align: center;
  background-color: #899177;
  background-image: url('codeing.png');
  background-size: 100% auto;
}

h3 {
  color: black;
  border: 2px solid black;
}

/* beyaz kutucuklar */
.kutucuk {
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  padding: 25px;
}

/* arkaplan resimleri ayarlamak için */
.yazılar1 {
  width: 250px;
  height: 250px;
  background-image: url('c++.png');
  opacity: 15%;
  background-size: 250px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar2 {
  width: 250px;
  height: 250px;
  background-image: url('sql.png');
  opacity: 15%;
  background-size: 250px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar3 {
  width: 250px;
  height: 250px;
  background-image: url('html.png');
  opacity: 15%;
  background-size: 250px;
  background-repeat: no-repeat;
  position: absolute;
}

.yazılar4 {
  width: 250px;
  height: 250px;
  background-image: url('css.png');
  opacity: 15%;
  background-size: 250px;
  background-repeat: no-repeat;
  position: absolute;
}
.yazılar5 {
  width: 250px;
  height: 250px;
  background-image: url('java-script.png');
  opacity: 15%;
  background-size: 250px;
  background-repeat: no-repeat;
  position: absolute;
}

/* link gönderme butonları */
.linka {
  position: relative;
  padding: 5px;
  text-decoration: none;
  background-color: black;
  background-size: 1000px 1000px;
  color: white;
  border-radius: 10px;
}

.linka:hover {
  color: #B6C3DE;
}

.btnsearch {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
  background: #899177;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btnsearch:hover {
  background-image: -webkit-linear-gradient(left, #899177, #89918C);
  background-image: -moz-linear-gradient(right, #899177, #89918C);
  background-image: -o-linear-gradient(right, #899177, #89918C);
  background-image: linear-gradient(to right, #899177, #89918C);
  text-decoration: none;
  border-color: black;
  color: black;
}
