body{
  background-color: #91817E;
}

.btnsearch {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
  background: #91817E;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btnsearch:hover {

  background-image: -webkit-linear-gradient(left, #91817E, #CBA49D);
  background-image: -moz-linear-gradient(right, #91817E, #CBA49D);
  background-image: -o-linear-gradient(right, #91817E, #CBA49D);
  background-image: linear-gradient(to right, #91817E , #CBA49D);
  text-decoration: none;
  border-color: black;
  color: black;
}
