body {
  background-color: #91817E;
  text-align: center;
  background-image: url('codeing.png');
  background-size: 100% auto;
}

p {
  font-family: 'Marck Script', cursive;
  font-size: 19px;
  padding-bottom: 3px;
}

H1 {
  font-family: 'Marck Script', cursive;
}

.dal1 {
  position: absolute;
  left: 60px;
  max-width: 12%;
}

.home-row {
  width: 32%;
  margin: 0px auto 50px auto;
  text-align: left;
  background-color: white;
  padding: 5px 15px 5px 15px;
    border-radius: 10px 10px;
}

hr {
  background-color: #11ffee00;
  border-top: 12px dotted black;
  width: 35%;
}

.skill-row {
  margin: 30px 8% 30px 8%;
  float: left;
  background-color: white;
  border: 3px solid black ;
  border-radius: 10px 10px;

}

.hobiespic {
  margin-top:8px;
  width: 25%;
}


.kutu-üst {
  width: 100%;
  height: 130px;
}

.kutu-alt {
  width: 100%;
  height: 500px;
}


.btnsearch {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
  background: #91817E;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btnsearch:hover {
  background-image: -webkit-linear-gradient(left, #91817E, #CBA49D);
  background-image: -moz-linear-gradient(right, #91817E, #CBA49D);
  background-image: -o-linear-gradient(right, #91817E, #CBA49D);
  background-image: linear-gradient(to right, #91817E, #CBA49D);
  text-decoration: none;
  border-color: black;
  color: black;
}
