body {
  background-color: #899177;
  text-align: center;
  background-image: url('codeing.png');
  background-size: 100% auto;
}

img {
  max-width: 100px;
  height: auto;
}


.kutudik{
left: 50%;
  width: 10px;
  height: 85px;
  background-color: black;
  position: relative;
  border-radius: 5px;

}



.container {
  padding: 0px;
  background-color: white;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
}
.aokul{
  text-decoration: none;
  color: black;
  background-color: #899177;
  padding-left:8px;
  padding-right:8px;
  border-radius: 5px;

}
a:hover{
color: #B6C3AE;
text-decoration: none;

}


.home-row {
  width: 78%;
  height: 200px;
  margin: 140px auto 20% auto;
  text-align: center;
}

.row {
  padding: 10px;
}

.ortacol {
  margin: 10px;
  max-width: 124px;
  height: auto;
}

.btnsearch {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
  background: #899177;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btnsearch:hover {
  background-image: -webkit-linear-gradient(left, #899177, #B6C3AE);
  background-image: -moz-linear-gradient(right, #899177, #B6C3AE);
  background-image: -o-linear-gradient(right, #899177, #B6C3AE);
  background-image: linear-gradient(to right, #899177, #B6C3AE);
  text-decoration: none;
  border-color: black;
  color: black;
}
